$circle-radius: 250px;
$circumference: 2 * 3.14 * $circle-radius; // girth

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: $circumference;
  }
}

#stopper-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;

  height: 100%;
  width: 100%;
}

.stopper-circle {
  stroke-dasharray: $circumference;
  stroke-dashoffset: 0;
}
