@import "../../utils/variables.scss";

.countdown-content-wrapper {
  position: relative;
  width: 160px;
  height: 160px;

  .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;

    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
  }

  .outer-container {
    width: inherit;
    height: inherit;

    padding: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px 6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .countdown-circle {
    stroke: url(#gradient-color);
    stroke-width: 20px;
    stroke-dashoffset: 0;
    stroke-dasharray: 450;
    fill: none;
  }

  .countdown-svg {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .countdown-content-wrapper > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
