body,
html,
#master {
  height: 100%;
  width: 100%;
}

body {
  font: normal 16px "FiraSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 98vh;
  min-width: 98vw;
}
